<!DOCTYPE html>
<html lang="nl-be">
<%- include("partials/head") %>
<body>
    <header class="navbar">
        <h1 id="title">Portfolio</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/developers">Developers</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="image-container">
            <img src="assets/banner.jpg" alt="Background Image">
        </section>
        <section>
            <article class="item-container">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </article>
            <article id="text">
                <p>lorem</p>
            </article>
        </section>
    </main>
    <footer>
    </footer>
</body>
</html>
