<!DOCTYPE html>
<html lang="nl-be">
<%- include("partials/head") %>
<body>
    <header class="navbar">
        <h1 id="title">Portfolio</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/developers">Developers</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="banner">
        </section>
        <section id="text">
            <article>
                <h1>Meet our developers</h1>
                <p>Innovative developers that got together to bring you the peak of creativity</p>
            </article>
        </section>
        <section id="item-container">
            <article class="item">
                <img src="assets/KatarinaB.jpg" alt="KatarinaB">
                <h1>Yami</h1>
            </article>
            <article class="item">
                <img src="assets/KatarinaM.jpg" alt="KatarinaM">
                <h1>Nina</h1>
            </article>
            <article class="item">
                <img src="assets/KatarinaR.jpg" alt="KatarinaR">
                <h2>Sam</h2>
            </article>
        </section>
    </main>
    <footer>
    </footer>
</body>
</html>
